* {
    box-sizing: border-box;
}


/*NAVBAR*/

nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0;
    width: 100%;
    background-color: crimson;
    height: 120px;
}

.logo {
    width: 65px;
    vertical-align: middle;
    height: auto;
    margin-right: 450px;
    border-radius: 10px;
}

nav li {
    display: inline-block;
    padding: 20px;
    font-family: monospace;
    font-size: 18px;
    font-weight: 550;
}

nav input {
    width: 500px;
    height: 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    font-style: Arial;
    border: 3px solid black;
}

nav i {
    width: unset;
    vertical-align: middle;
    margin-left: 5px;
}

nav i:hover {
    color: antiquewhite;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: antiquewhite;
}


/*SECTION 1*/

body {
    margin: 0;
    background-color: black;
}

.one {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.one img {
    width: 400px;
    height: auto;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 10px;
}

.one figcaption {
    text-align: center;
    font-size: 10px;
    color: antiquewhite;
}

.one h1 {
    font-family: monospace;
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    padding-top: 100px;
    color: antiquewhite;
    margin-left: 100px;
}

.one figure {
    padding-bottom: 50px;
}


/*SECTION 2*/

h2 {
    text-align: center;
    font-size: 30px;
    color: antiquewhite;
}

.two img {
    width: 250px;
    height: 330px;
    border-radius: 10px;
    object-fit: cover;
}

.two {
    display: flex;
    justify-content: space-evenly;
}

.two p {
    font-size: 10px;
    text-align: center;
    color: antiquewhite;
}

.two figcaption {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: antiquewhite;
    margin-bottom: 20px;
}

.two a {
    text-decoration: none;
    color: antiquewhite;
}

.two a:hover {
    color: crimson;
}

.two figure:hover {
    animation-name: figures;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes figures {
    100% {
        transform: scale(1.1);
    }
}