* {
    box-sizing: border-box;
}


/*NAVBAR*/

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: crimson;
}

nav li {
    display: inline-block;
    padding: 25px;
    font-family: monospace;
    font-size: 18px;
    font-weight: 550;
}

nav a {
    color: black;
}

nav a:hover {
    color: antiquewhite;
}


/*SECTION 1*/

body {
    margin: 0;
}

.one {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-left: 130px;
    padding-right: 100px;
    background-color: beige;
}

.one img {
    width: 400px;
    height: auto;
    object-fit: cover;
    padding: 50px 0;
}

.one h1 {
    font-family: monospace;
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
    padding-top: 100px;
    padding-left: 50px;
}